## Capstone

---
### Problem Statement:

**Which players are predicted to be future talents after 2017?**

---

### Goal:

- Clustering using rankings and results to group players into performance groups
- Use stats of players to group them into clusters to predict performance


### Imports

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

/Users/aidandominguez/opt/anaconda3/lib/python3.6/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

### Read in data

In [2]:
df_scores = pd.read_csv('./datasets/match_scores_2017_unindexed_csv.csv')
df_stats = pd.read_csv('./datasets/match_stats_2017_unindexed_csv.csv')

In [7]:
print(df_scores.columns)
df_scores.head(2)

Index(['tourney_year_id', 'tourney_order', 'tourney_slug',
       'tourney_url_suffix', 'tourney_round_name', 'round_order',
       'match_order', 'winner_name', 'winner_player_id', 'winner_slug',
       'loser_name', 'loser_player_id', 'loser_slug', 'winner_seed',
       'loser_seed', 'match_score_tiebreaks', 'winner_sets_won',
       'loser_sets_won', 'winner_games_won', 'loser_games_won',
       'winner_tiebreaks_won', 'loser_tiebreaks_won', 'match_id',
       'match_stats_url_suffix'],
      dtype='object')

,tourney_year_id,tourney_order,tourney_slug,tourney_url_suffix,tourney_round_name,round_order,match_order,winner_name,winner_player_id,winner_slug,...,loser_seed,match_score_tiebreaks,winner_sets_won,loser_sets_won,winner_games_won,loser_games_won,winner_tiebreaks_won,loser_tiebreaks_won,match_id,match_stats_url_suffix
0,2017-339,1,brisbane,/en/scores/archive/brisbane/339/2017/results,Finals,1,1,Grigor Dimitrov,d875,grigor-dimitrov,...,3,62 26 63,2,1,14,11,0,0,2017-339-d875-n552,/en/scores/2017/339/MS001/match-stats
1,2017-339,1,brisbane,/en/scores/archive/brisbane/339/2017/results,Semi-Finals,2,1,Grigor Dimitrov,d875,grigor-dimitrov,...,1,76(7) 62,2,0,13,8,1,0,2017-339-d875-r975,/en/scores/2017/339/MS002/match-stats

In [8]:
print(df_stats.columns)
df_stats.head(2)

Index(['tourney_order', 'match_id', 'match_stats_url_suffix', 'match_time',
       'match_duration', 'winner_aces', 'winner_double_faults',
       'winner_first_serves_in', 'winner_first_serves_total',
       'winner_first_serve_points_won', 'winner_first_serve_points_total',
       'winner_second_serve_points_won', 'winner_second_serve_points_total',
       'winner_break_points_saved', 'winner_break_points_serve_total',
       'winner_service_points_won', 'winner_service_points_total',
       'winner_first_serve_return_won', 'winner_first_serve_return_total',
       'winner_second_serve_return_won', 'winner_second_serve_return_total',
       'winner_break_points_converted', 'winner_break_points_return_total',
       'winner_service_games_played', 'winner_return_games_played',
       'winner_return_points_won', 'winner_return_points_total',
       'winner_total_points_won', 'winner_total_points_total', 'loser_aces',
       'loser_double_faults', 'loser_first_serves_in',
       'loser_first_serves_total', 'loser_first_serve_points_won',
       'loser_first_serve_points_total', 'loser_second_serve_points_won',
       'loser_second_serve_points_total', 'loser_break_points_saved',
       'loser_break_points_serve_total', 'loser_service_points_won',
       'loser_service_points_total', 'loser_first_serve_return_won',
       'loser_first_serve_return_total', 'loser_second_serve_return_won',
       'loser_second_serve_return_total', 'loser_break_points_converted',
       'loser_break_points_return_total', 'loser_service_games_played',
       'loser_return_games_played', 'loser_return_points_won',
       'loser_return_points_total', 'loser_total_points_won',
       'loser_total_points_total'],
      dtype='object')

,tourney_order,match_id,match_stats_url_suffix,match_time,match_duration,winner_aces,winner_double_faults,winner_first_serves_in,winner_first_serves_total,winner_first_serve_points_won,...,loser_second_serve_return_won,loser_second_serve_return_total,loser_break_points_converted,loser_break_points_return_total,loser_service_games_played,loser_return_games_played,loser_return_points_won,loser_return_points_total,loser_total_points_won,loser_total_points_total
0,0,2017-339-r975-n409,/en/scores/2017/339/MS004/match-stats,02:21:00,141,23,3,62,97,50,...,19,35,1,7,14,15,31,97,84,181
1,0,2017-339-d875-n552,/en/scores/2017/339/MS001/match-stats,01:49:00,109,7,2,52,77,41,...,13,25,2,7,12,13,24,77,69,146

In [10]:
# look for columns with null values and drop

df_scores[] # can I filter by columsn that have missing values?

tourney_year_id              0
tourney_order                0
tourney_slug                 0
tourney_url_suffix           0
tourney_round_name           0
round_order                  0
match_order                  0
winner_name                  0
winner_player_id             0
winner_slug                  0
loser_name                   0
loser_player_id              0
loser_slug                   0
winner_seed               1350
loser_seed                1764
match_score_tiebreaks        0
winner_sets_won              0
loser_sets_won               0
winner_games_won             0
loser_games_won              0
winner_tiebreaks_won         0
loser_tiebreaks_won          0
match_id                     0
match_stats_url_suffix     146
dtype: int64
tourney_order                       True
match_id                            True
match_stats_url_suffix              True
match_time                          True
match_duration                      True
winner_aces                         True
winner_double_faults                True
winner_first_serves_in              True
winner_first_serves_total           True
winner_first_serve_points_won       True
winner_first_serve_points_total     True
winner_second_serve_points_won      True
winner_second_serve_points_total    True
winner_break_points_saved           True
winner_break_points_serve_total     True
winner_service_points_won           True
winner_service_points_total         True
winner_first_serve_return_won       True
winner_first_serve_return_total     True
winner_second_serve_return_won      True
winner_second_serve_return_total    True
winner_break_points_converted       True
winner_break_points_return_total    True
winner_service_games_played         True
winner_return_games_played          True
winner_return_points_won            True
winner_return_points_total          True
winner_total_points_won             True
winner_total_points_total           True
loser_aces                          True
loser_double_faults                 True
loser_first_serves_in               True
loser_first_serves_total            True
loser_first_serve_points_won        True
loser_first_serve_points_total      True
loser_second_serve_points_won       True
loser_second_serve_points_total     True
loser_break_points_saved            True
loser_break_points_serve_total      True
loser_service_points_won            True
loser_service_points_total          True
loser_first_serve_return_won        True
loser_first_serve_return_total      True
loser_second_serve_return_won       True
loser_second_serve_return_total     True
loser_break_points_converted        True
loser_break_points_return_total     True
loser_service_games_played          True
loser_return_games_played           True
loser_return_points_won             True
loser_return_points_total           True
loser_total_points_won              True
loser_total_points_total            True
dtype: bool